.foo-bar {
  color: var(--harvey-green);
}
.cart .css-106c1u2-MuiBadge-badge {
  background-color: red ; 
  top: 13px;  
  right:11px ;
  transform: scale(0.8);


}
.cart{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
