.order-summary h4 {
    color:#888;
    letter-spacing: 0.3px;
    padding: 8px 0;
    border-bottom:1px solid #e5e5e5;
}

.order-summary ul {
    list-style: none;
    padding: 15px;
    margin: 10px;
    border:1px solid #DDD ;
    width: 200px;
    

}

.order-summary ul li {
    display: flex;
    justify-content: space-between;
    color: #888;
    padding: 5px 0;
}
.order-summary ul li span {
    font-weight: bold;
    font-size: 13px;
}
.order-summary ul li.total-price {
    font-weight: bold;
    border-top: 1px dashed #888;
}
.order-summary ul li.total-price span {
    color: green;
}